* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
}

nav {
    background: rgba(0, 0, 0, 0.615);
    position: fixed;
    width: 100%;
}

nav ul {
    display: block;
    list-style: none;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

nav ul li {
   float: left;
   margin-left: 10px;
}

nav ul li a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
    transition: all 300ms ease-in-out;
}

nav ul li a:hover {
    background: #36363636;
}

.full-page {
    max-width: 100%;
    padding-top: 73px;
    height: 100vh;
    background: turquoise;
}

.full-page-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.grid {
    box-sizing: border-box;
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 73px;
}

.grid::after {
    content: "";
    display: block;
    clear: both;
}



.grid .col {
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px blue;
}

.landingPage {
    height: 90vh;
    width: 100vw;
    background: yellow;
}

@media all and (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 761px) {
    .grid .col {
        width: 50%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}

@media all and (min-width: 1200px) {
    .grid .col {
        width: 25%;
    }
}
