* {
    margin: 0;
    padding: 0;
}

.grid {
    box-sizing: border-box;
    padding: 15px;
}

.grid::after {
    content: "";
    display: block;
    clear: both;
}



.grid .col {
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background:  hsla(0, 100%, 75%) /* ABCDEF123456789 */;
}